/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STMA theme CSS */
:root {
	--bg: #eee;
	--fg: #444;
	--theme-bg: #fdd;
	--header-height: 4rem;
	--footer-height: 2rem;
}

html {
	background: var(--theme-bg);
	height: 100%;
}

body {
	background: var(--bg);
	color: var(--fg);
	margin: 0 auto;
	max-width: 64rem;
	min-height: calc(100vh - var(--footer-height));
	width: 100vw;
}

.header, .footer {
	align-items: center;
	background: var(--fg);
	color: var(--bg);
	display: flex;
	justify-content: center;
	width: 100%;
}

.header {
	font-size: 2rem;
	height: var(--header-height);
}

.content {
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.footer {
	height: var(--footer-height);
}
