<!DOCTYPE html>
<html
	lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}"
 {{ with .Site.Params.Background }}style="{{ . }}"{{ end }}
>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
		<meta name="author" content="{{ block "author" .}}{{ .Site.Params.author }}{{ end }}">
		<meta name="description" content="{{ block "description" .}}{{ .Site.Params.description }}{{ end }}">
		<meta name="keywords" content="{{ block "keywords" .}}{{ .Site.Params.keywords }}{{ end }}">
		<link rel="icon" href="/images/favicon.ico">

		<base href="{{ .Permalink }}">
		<link rel="canonical" href="{{ .Permalink }}">

		<link rel="stylesheet" href="{{ "css/theme.css" | relURL }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
	</head>

	<body>
		<div class="header">
			<img src="/images/logo.png" />
			{{ block "header" . }}{{ .Site.Title }}{{ end }}
			<div class="nav">
				<a href="/discord" title="Chat on Discord"><i class="fab fa-discord"></i></a>
				<a href="/map" title="See the map"><i class="fas fa-map"></i></a>
			</div>
		</div>
		<div class="content">
			{{ block "content" . }} This is some content. {{ end }}
		</div>
		<div class="footer">
			{{ block "footer" . }}
				&copy;{{ .Site.Params.copyright }} {{ .Site.Params.author }}
			{{ end }}
		</div>
	</body>
</html>
